html.jsEnabled #NoJS {
  display: none;
}

body {
  background: #0f2027; /* fallback for old browsers */
}

.posts-index {
  color: white;
  margin-top: 12rem;
}
.posts-index a {
  font-family: Helvetica, sans-serif;
  color: white;
  text-decoration: none; /* no underline */
}
.logo-blog_page {
}
